In [1]:
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [2]:
for num in range(10,20):
    print(num,end=" ")

10 11 12 13 14 15 16 17 18 19

In [3]:
list2=[10, 20, 14, 55, 43, 87, 76]
print("Number of item in the List2:",len(list2))

Number of item in the List2: 7

In [4]:
#Horizontal,vertical string print without space
string="Artificial Intelligence"
print(string)
for i in string :
    tst_str= i.replace("\n","")
    print(tst_str)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [4]:
#list your name and profession
name=['Nasarali',40,'IT']
for i in name:
    print(i)

Nasarali
40
IT

In [7]:
#Tuple mixed datatype
Tuple1=(1, 'Welcome', 2, 'Hope')
print(Tuple1)

(1, 'Welcome', 2, 'Hope')

In [8]:
#Tuple mixed datatype
Tuple1=(0, 1, 2, 3)
Tuple2= ('python', 'HOPE')
Tuple3=(Tuple1,Tuple2)
print(Tuple3)

((0, 1, 2, 3), ('python', 'HOPE'))

In [3]:
# print Odd Numbers in the list
list1=(20,10,16,19,25,1,276,188)
print(list1)
for i in list1:
    if((i%2)!=0):
        print(i ,"is odd")

(20, 10, 16, 19, 25, 1, 276, 188)
19 is odd
25 is odd
1 is odd

In [4]:
# print Even Numbers in the list
list1=(20,10,16,19,25,1,276,188)
print(list1)
for i in list1:
    if((i%2)==0):
        print(i ,"is Even")

(20, 10, 16, 19, 25, 1, 276, 188)
20 is Even
10 is Even
16 is Even
276 is Even
188 is Even